@import '~include-media/dist/include-media';
@import '~open-color/open-color';

$red: #fa5252;
$orange: #fd7e14;
$green: #40c057;
$yellow: #fcc419;
$blue: #339af0;
$indigo: #5c7cfa;
$violet: #7950f2;

@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}
